<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="BitTools\SkyHub\Model\Catalog\Product\Attributes\Mapping">
        <arguments>
            <argument name="resource" xsi:type="object">BitTools\SkyHub\Model\ResourceModel\Catalog\Product\Attributes\Mapping</argument>
            <argument name="resourceCollection" xsi:type="object">BitTools\SkyHub\Model\ResourceModel\Catalog\Product\Attributes\Mapping\Collection</argument>
            <argument name="data" xsi:type="array"/>
        </arguments>
    </type>

    <type name="BitTools\SkyHub\Model\Sales\AdminOrder\Create">
        <arguments>
            <argument name="quoteSession" xsi:type="object">BitTools\SkyHub\Model\Backend\Session\Quote</argument>
        </arguments>
    </type>

    <!-- *********************************************************************************************************** -->
    <!-- CUSTOM CONFIGURATION DECLARATION (skyhub.xml)                                                               -->
    <!-- *********************************************************************************************************** -->

    <virtualType name="SkyhubReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">BitTools\SkyHub\Model\Config\SkyhubAttributes\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">BitTools\SkyHub\Model\Config\SkyhubAttributes\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">skyhub.xml</argument>
        </arguments>
    </virtualType>

    <type name="BitTools\SkyHub\Model\Config\SkyhubAttributes\Data">
        <arguments>
            <argument name="reader" xsi:type="object">SkyhubReader</argument>
            <argument name="cacheId" xsi:type="string">bittools_skyhub_attributes_cache</argument>
        </arguments>
    </type>

    <!-- *********************************************************************************************************** -->
    <!-- SERVICE CONTRACTS DECLARATIONS                                                                              -->
    <!-- *********************************************************************************************************** -->

    <preference for="BitTools\SkyHub\Api\ProductAttributeMappingRepositoryInterface" type="BitTools\SkyHub\Model\Catalog\Product\Attributes\MappingRepository"/>
    <preference for="BitTools\SkyHub\Api\Data\ProductAttributeMappingInterface" type="BitTools\SkyHub\Model\Catalog\Product\Attributes\Mapping"/>

    <preference for="BitTools\SkyHub\Api\QueueRepositoryInterface" type="BitTools\SkyHub\Model\QueueRepository"/>
    <preference for="BitTools\SkyHub\Api\Data\Data\QueueInterface" type="BitTools\SkyHub\Model\Queue"/>

    <preference for="BitTools\SkyHub\Api\Data\SalesOrderExtensionAttributeInterface" type="BitTools\SkyHub\Model\Sales\Order\AdditionalInfo"/>

    <preference for="BitTools\SkyHub\Api\Data\OrderInterface" type="BitTools\SkyHub\Model\Order"/>
    <preference for="BitTools\SkyHub\Api\OrderRepositoryInterface" type="BitTools\SkyHub\Model\OrderRepository"/>

    <preference for="BitTools\SkyHub\Model\StoreIteratorInterface" type="BitTools\SkyHub\Model\StoreIterator"/>

    <!-- *********************************************************************************************************** -->
    <!-- TERMINAL COMMANDS DECLARATIONS                                                                              -->
    <!-- *********************************************************************************************************** -->

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="integrateCatalogCategory" xsi:type="object">BitTools\SkyHub\Console\Integration\Catalog\IntegrateCategory</item>
                <item name="integrateCatalogProduct" xsi:type="object">BitTools\SkyHub\Console\Integration\Catalog\IntegrateProduct</item>
                <item name="integrateCatalogProductAttribute" xsi:type="object">BitTools\SkyHub\Console\Integration\Catalog\IntegrateProductAttribute</item>
                <item name="integrateSalesOrder" xsi:type="object">BitTools\SkyHub\Console\Integration\Sales\IntegrateOrder</item>

                <item name="createSalesOrderStatusQueue" xsi:type="object">BitTools\SkyHub\Console\Queue\Sales\Order\Status\Create</item>
                <item name="executeSalesOrderStatusQueue" xsi:type="object">BitTools\SkyHub\Console\Queue\Sales\Order\Status\Execute</item>

                <item name="executeSalesOrderQueueImport" xsi:type="object">BitTools\SkyHub\Console\Queue\Sales\Order\Import</item>

                <item name="createCatalogProductAttributesQueue" xsi:type="object">BitTools\SkyHub\Console\Queue\Catalog\Product\Attribute\Create</item>
                <item name="executeCatalogProductAttributesQueue" xsi:type="object">BitTools\SkyHub\Console\Queue\Catalog\Product\Attribute\Execute</item>

                <item name="createCatalogCategoriesQueue" xsi:type="object">BitTools\SkyHub\Console\Queue\Catalog\Category\Create</item>
                <item name="executeCategoriesQueue" xsi:type="object">BitTools\SkyHub\Console\Queue\Catalog\Category\Execute</item>
            </argument>
        </arguments>
    </type>

    <!-- *********************************************************************************************************** -->
    <!-- PLUGINS DECLARATIONS                                                                                        -->
    <!-- *********************************************************************************************************** -->

    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="skyhub_information" type="BitTools\SkyHub\Plugin\Sales\Order"/>
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="skyhub_information" type="BitTools\SkyHub\Plugin\Sales\OrderRepository"/>
    </type>

    <!-- *********************************************************************************************************** -->
    <!--  LISTING UI COMPONENTS                                                                                      -->
    <!-- *********************************************************************************************************** -->

    <virtualType name="BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Catalog\Product\Attribute\Mapping\Product" type="BitTools\SkyHub\Ui\Component\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bittools_skyhub_product_attributes_mapping</argument>
            <argument name="resourceModel" xsi:type="string">BitTools\SkyHub\Model\ResourceModel\Catalog\Product\Attributes\Mapping</argument>
        </arguments>
    </virtualType>

    <virtualType name="BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Queue\Sales\Order" type="BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Queue">
        <arguments>
            <argument name="entityType" xsi:type="string">sales_order</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bittools_skyhub_catalog_product_attributes_mapping_listing_data_source" xsi:type="string">BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Catalog\Product\Attribute\Mapping\Product</item>
                <item name="bittools_skyhub_queue_product_data_source" xsi:type="string">BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Queue\Catalog\Product</item>
                <item name="bittools_skyhub_queue_product_attribute_data_source" xsi:type="string">BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Queue\Catalog\ProductAttribute</item>
                <item name="bittools_skyhub_queue_category_data_source" xsi:type="string">BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Queue\Catalog\Category</item>
                <item name="bittools_skyhub_queue_sales_order_data_source" xsi:type="string">BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Queue\Sales\Order</item>
                <item name="bittools_skyhub_queue_sales_order_status_data_source" xsi:type="string">BitTools\SkyHub\Ui\Component\DataProvider\SearchResult\Queue\Sales\OrderStatus</item>
            </argument>
        </arguments>
    </type>
</config>
