<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="SkyhubReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">BitTools\SkyHub\Model\Config\SkyhubAttributes\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">BitTools\SkyHub\Model\Config\SkyhubAttributes\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">skyhub.xml</argument>
        </arguments>
    </virtualType>
    <type name="BitTools\SkyHub\Model\Config\SkyhubAttributes\Data">
        <arguments>
            <argument name="reader" xsi:type="object">SkyhubReader</argument>
            <argument name="cacheId" xsi:type="string">bittools_skyhub_attributes_cache</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bittools_skyhub_attributes_mapping_listing_data_source" xsi:type="string">BitTools\SkyHub\Model\ResourceModel\Catalog\Product\Attributes\Mapping\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="BitTools\SkyHub\Model\ResourceModel\Catalog\Product\Attributes\Mapping\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bittools_skyhub_product_attributes_mapping</argument>
            <argument name="resourceModel" xsi:type="string">BitTools\SkyHub\Model\ResourceModel\Catalog\Product\Attributes\Mapping</argument>
        </arguments>
    </virtualType>

    <type name="BitTools\SkyHub\Console\Integration\Catalog\IntegrateCategory">
        <arguments>
            <argument name="name" xsi:type="string">bittools_skyhub_integrate_category</argument>
        </arguments>
    </type>

    <type name="BitTools\SkyHub\Console\Integration\Catalog\IntegrateProduct">
        <arguments>
            <argument name="name" xsi:type="string">bittools_skyhub_integrate_product</argument>
        </arguments>
    </type>

    <virtualType name="BitTools\SkyHub\Model\ResourceModel\Entity\Virtual" type="BitTools\SkyHub\Model\ResourceModel\Entity">
        <arguments>
            <argument name="context" xsi:type="object">Magento\Framework\Model\ResourceModel\Db\Context</argument>
            <argument name="connectionName" xsi:type="string">default</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="storeRepository" xsi:type="object">Magento\Store\Api\StoreRepositoryInterface</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="integrateCatalogCategory" xsi:type="object">BitTools\SkyHub\Console\Integration\Catalog\IntegrateCategory</item>
                <item name="integrateCatalogProduct" xsi:type="object">BitTools\SkyHub\Console\Integration\Catalog\IntegrateProduct</item>
            </argument>
        </arguments>
    </type>

    <preference for="BitTools\SkyHub\Api\ProductAttributeMappingRepositoryInterface" type="BitTools\SkyHub\Model\Catalog\Product\Attributes\MappingRepository"/>
    <preference for="BitTools\SkyHub\Api\Data\ProductAttributeMappingInterface" type="BitTools\SkyHub\Model\Catalog\Product\Attributes\Mapping"/>
</config>
